<div class="container">
    <div class="row">
        <form class="col mt-5">
            <div class="form-group">
                <label for="exampleInputEmail1">Ingresa tu correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">Si el correo está registrado, te enviaremos un link para resetear tu contraseña</small>
            </div>            
            <button type="submit" class="btn btn-primary">Enviar Link</button>
        </form>
    </div>
</div>