<div class="container">
    <div class="row">
        <div class="col" >
            <form *ngIf="!solicitudEnviada; else mensajeSolicitudEnviada" class="mt-5" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
                <div class="form-group">
                    <label for="correo">Ingresa tu correo</label>
                    <input type="email" formControlName="correo" class="form-control" id="correo" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-warning">Si el correo está registrado, te enviaremos un link para resetear tu contraseña</small>
                </div>            
                <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Enviar Link</button>
            </form>
            <ng-template #mensajeSolicitudEnviada>
                <div class="alert alert-info mt-3" role="alert">
                    ¡Gracias por confiar en nosotros!
                </div>
            </ng-template>
        </div>
        
        
    </div>
</div>