You can add global styles to this file, and also import other style files
html {
  height: 100% !important;
}

body {
  /* min-height: 100%;     */
  font-family: "Poppins", sans-serif;
}

.form-control.is-valid, 
.form-control.is-invalid {
    background-image: none;    
}   

.bg {
  background: url(assets/img/bg-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  margin: 0;
}